<a href="https://colab.research.google.com/github/gayathrig21/Miscellaneous/blob/main/50_scikit_learn_tips.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tip# 1**

Use ColumnTransformer to apply different preprocessing to different columns:

1) select from DataFrame columns by name

2) Passthrough or drop unspecified columns

3) Requires scikit-learn 0.20+

In [1]:
import pandas as pd
df = pd.read_csv('http://bit.ly/kaggletrain', nrows=6)
cols = ['Fare', 'Embarked', 'Sex', 'Age']
X = df[cols]

In [2]:
X

      Fare Embarked     Sex   Age
0   7.2500        S    male  22.0
1  71.2833        C  female  38.0
2   7.9250        S  female  26.0
3  53.1000        S  female  35.0
4   8.0500        S    male  35.0
5   8.4583        Q    male   NaN

In [3]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

In [4]:
ohe= OneHotEncoder()
imp=SimpleImputer()

In [5]:
ct = make_column_transformer (
    (ohe ,['Embarked','Sex']),
    (imp,['Age']),  # by default it imputes mean
    remainder='passthrough'
)

In [6]:
# column order: Embarked (3 columns), Sex (2 columns), Age (1 column), Fare (1 column)
ct.fit_transform(X)

array([[ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 22.    ,  7.25  ],
       [ 1.    ,  0.    ,  0.    ,  1.    ,  0.    , 38.    , 71.2833],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 26.    ,  7.925 ],
       [ 0.    ,  0.    ,  1.    ,  1.    ,  0.    , 35.    , 53.1   ],
       [ 0.    ,  0.    ,  1.    ,  0.    ,  1.    , 35.    ,  8.05  ],
       [ 0.    ,  1.    ,  0.    ,  0.    ,  1.    , 31.2   ,  8.4583]])

# **Tip# 2**

There are SEVEN ways to select columns using ColumnTransformer:

1. column name

2. integer position

3. slice

4. boolean mask

5. regex pattern

6. dtypes to include

7. dtypes to exclude

In [ ]:
import pandas as pd
df = pd.read_csv('http://bit.ly/kaggletrain', nrows=6)
cols = ['Fare', 'Embarked', 'Sex', 'Age']
X = df[cols]

In [ ]:
X

In [7]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_selector
from sklearn.compose import make_column_transformer

In [8]:
# all SEVEN of these produce the same results   , drop other columns is default
ct = make_column_transformer((ohe, ['Embarked', 'Sex']))  # column name
ct = make_column_transformer((ohe, [1, 2]))  #integer column position
ct = make_column_transformer((ohe, slice(1, 3))) #slice  useful when many colummns
ct = make_column_transformer((ohe, [False, True, True, False])) #boolean mask
ct = make_column_transformer((ohe, make_column_selector(pattern='E|S')))  #regex pattern  with column names
ct = make_column_transformer((ohe, make_column_selector(dtype_include=object)))  #dtypes to include  (include object columns only)
ct = make_column_transformer((ohe, make_column_selector(dtype_exclude='number'))) #dtypes to exclude

In [9]:
# one-hot encode Embarked and Sex (and drop all other columns)
ct.fit_transform(X)

array([[0., 0., 1., 0., 1.],
       [1., 0., 0., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 1., 0.],
       [0., 0., 1., 0., 1.],
       [0., 1., 0., 0., 1.]])