<a href="https://colab.research.google.com/github/gayathrig21/Miscellaneous/blob/main/INSAID_EDA_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://www.insaid.co/wp-content/uploads/2018/04/INSAID_Logo-1.png' height="240" width="360"/>
<br/>
# Python basics

### 1.Write a Python program to print the following string

Sample String: "Welcome to INSAID- International School of AI and Data Science"

In [1]:
print("Welcome to INSAID- International School of AI and Data Science")

Welcome to INSAID- International School of AI and Data Science

### 1.1 In a “Hello, World!” program, a comment may look like this:

In [2]:
# Print “Hello, World!” to console
print("Hello, World!")

Hello, World!

In [3]:
# Define sharks variable as a list of strings ('hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem')

sharks =['hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem']


# For loop that iterates over sharks list and prints each string item
for shark in sharks:
  print(shark)

hammer
white
fish
frilled
bullhead
requiem

### 2.Write a Python Program to Add Two Numbers

In [4]:
# initialise two varaibles
a = 4
b = 6

# Add two numbers
c= a+b

# Display the sum
print(c)

10

### 3.Write a Python Program to Find the product of two numbers

In [5]:
# initialise two varaibles
a = 4
b = 6

# multiply two numbers
c= a*b

# Display the sum
print(c)

24

### 4.Write a python program to find the area of triangle given height and base of the triangle as 3 and 10.

In [6]:
# Area of the triangle A= 1/2(base * height)

#given height=3 and base =10
height=3
base=10
area = (height*base)/2

print(area)

15.0

### 5.Python Program to Swap Two Variables

In [7]:
# initialise two varaibles
a='A'
b='B'

c=b
b=a
a=c


# create a temporary variable and swap the values


print('a =', a)
print('b =', b)

a = B
b = A

## Section

### 1.Write a python program to print datatype of a varaible

In [8]:
a = 1
print('Datatype of a is ', type(a))

b = 2.0
print('Datatype of b is ', type(b))

c = 1+2j
print('Datatype of c is ', type(c))

Datatype of a is  <class 'int'>
Datatype of b is  <class 'float'>
Datatype of c is  <class 'complex'>

### 2.Write a python program to extract an item or a range of items from a list.

In [9]:
a = [15,20,35,40,45,30,35,60]

# Print the item at index 2

print('Item at index 2 is ', a[2])

# Print the first 3 items
print('The first three items are ', a[:3])

# Print the last 3 items
print('The last three items are ', a[-3:])

# Start to third last item
print('Start to third last items are ', a[:-2])

Item at index 2 is  35
The first three items are  [15, 20, 35]
The last three items are  [30, 35, 60]
Start to third last items are  [15, 20, 35, 40, 45, 30]

### 3.Converting Floats to Integers

In [10]:
b = 125.0
c = 390.8

# Print the Integer values
print(int(b) , int(c))

125 390

### 4.Converting Numbers to Strings

In [11]:
a = 10

print(a, "is of type", type(a))

# Convert the value in a to a string and then print
b=str(a)
print(b, "is of type", type(b))
print('String value of a is ', b)

10 is of type <class 'int'>
10 is of type <class 'str'>
String value of a is  10

### 5.Converting Strings to Numbers

In [12]:
a = "50"
b = "108"

# Find the difference between a and b
print('Difference between a and b is ', int(b)-int(a))

Difference between a and b is  58

### 6.Converting list to Tuples

In [13]:
myList = ['request', 'source', 'repository', 'branch']

# Print myList to a Tuple

myTuple = tuple(myList)
print(myTuple)

('request', 'source', 'repository', 'branch')

### 7.Converting tuple to Lists

In [14]:
myTuple = ('blue', 'red', 'white')

# Print myTuple to a List
myList = list(myTuple)
print(myList)

['blue', 'red', 'white']

### 8.converting strings to lists:

In [15]:
myString = 'INSAID'

# Convert myString to List
print(list(myString))

['I', 'N', 'S', 'A', 'I', 'D']

### 9.Assign different data types to a varibles

In [16]:
# Try string, float, boolean, list, tuple, dictionary

a = 'String'
b = 10.2
c = True
d = [1,2,3,4]
e = (a,b,c)
f= {1:'a',2:'b', 3:'c'}

print('Datatype of a is ', type(a))

print('Datatype of b is ', type(b))

print('Datatype of c is ', type(c))

print('Datatype of d is ', type(d))

print('Datatype of e is ', type(e))

print('Datatype of f is ', type(f))

Datatype of a is  <class 'str'>
Datatype of b is  <class 'float'>
Datatype of c is  <class 'bool'>
Datatype of d is  <class 'list'>
Datatype of e is  <class 'tuple'>
Datatype of f is  <class 'dict'>

## Section

### Print out a string that uses a formatter

In [17]:
# Print "john has 5 cars." using formatter
a=5
print(f'john has {a} cars.')

john has 5 cars.

### We can also assign a variable to be equal to the value of a string that has formatter placeholders:

In [18]:
open_string = "john likes {}."

# Use format method to print the following output "john likes open source."
print (open_string.format('open source'))

john likes open source.

### Using Formatters with Multiple Placeholders

In [19]:
new_open_string = "john likes {} {}."                      #2 {} placeholders
# Pass 2 strings into format method, separated by a comma to get output "john likes open-source software."
print (new_open_string.format('open source', 'software'))

john likes open source software.

In [20]:
sammy_string = "john loves {} {}, and has {} {}."                      #4 {} placeholders
# Pass 4 strings into method to get output "john loves open-source software, and has 5 balloons."
print (sammy_string.format('open source', 'software' , '5' , 'balloons'))

john loves open source software, and has 5 balloons.

### Reordering Formatters with Positional and Keyword Arguments

In [21]:
# Reference sample
print("john the {} has a pet {}!".format("shark", "pilot fish"))

john the shark has a pet pilot fish!

### We can pass these index numbers into the curly braces that serve as the placeholders in the original string:

In [22]:
# Reference Sample
print("john the {0} has a pet {1}!".format("shark", "pilot fish"))

print("john is a {}, {}, and {} {}!".format("happy", "smiling", "blue", "shark"))

john the shark has a pet pilot fish!
john is a happy, smiling, and blue shark!

### Python Program to Get String Input from User

In [23]:
#Enter any string and print it
n=str(input("Input any string: "))
print("You entered ", n)

Input any string: Gayathri
You entered  Gayathri

### Python program for conditional statements

### 1)If the student receives over 65% on her test, report that her grade passes; if not, report that her grade fails

In [24]:
grade = 70

if grade >65:
  print('Result is pass')
else:
  print('FAIL')

Result is pass

In [25]:
# Use only if
grade = 60
if grade < 65:
  print('Result is FAIL')

Result is FAIL

### Write a python program calculate whether a bank account balance is below 0 and print appropriate message.

In [26]:
# Use if else
balance = 522
if balance <0:
  print('Your account balance is below 0')
else:
  print('Your account balance ', balance)

Your account balance  522

### Using Else if statement

In [27]:
balance = 522
if balance <0:
  print('Your account balance is below 0')
elif balance >=0:
  print('Your account balance ', balance)

Your account balance  522

### Python program to print  Fibonacci series between 0 to 50.

In [28]:
a=0
b=0
for i in range (1,50):
  a=a+i
  b=b+a
  #print(b)

### Python program to find numbers which are divisible by 7 and multiple of 5 between a range 150 to 270

In [29]:
a =[]
b =[]
c= []
for i in range (150,270):
  if(i%7==0):
    a.append(i);
    #print(i,' is divisible by 7')
  if(i%5==0):
    b.append(i);
  if (i%7==0) and  (i%5==0):
    c.append(i)
print('List of values divisible by 7 between range of 150 to 270 are :', a)
print('List of values multiple of 5 between range of 150 to 270 are :', b)
print('List of values divisible by 7 and multiple of 5 between range of 150 to 270 are :', c)

List of values divisible by 7 between range of 150 to 270 are : [154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266]
List of values multiple of 5 between range of 150 to 270 are : [150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265]
List of values divisible by 7 and multiple of 5 between range of 150 to 270 are : [175, 210, 245]

### Python program to Sum all the items in a list

In [30]:
def sum_list(items):
    # Your code here
    a=0;
    for item in items:
      a=a+item;
    return a # Your variable
print(sum_list([20,12,20,22]))

74

### Python program to Remove duplicates from a list.

In [31]:
a = [10,20,30,40,50,60,70,40,80,50,40]
b=set(a)
print(b)

{70, 40, 10, 80, 50, 20, 60, 30}

### Python program to Get the largest number from a list.

In [32]:
def max_num_in_list( list ):
    # Your code
    a=max(list)
    return a # Maximum value
print(max_num_in_list([1, 12, 28, 0]))

28

### Concatenation of Tuples.

In [33]:
# Code for concatenating 2 tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
 
# Concatenating above two
print(tuple1+tuple2)

(0, 1, 2, 3, 'python', 'code')

### Nesting of Tuples.

In [34]:
# Code for creating nested tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
tuple3 =(tuple1,tuple2)
#tuple1 = str(tuple1)
#tuple2=str(tuple2)
#nested = tuple1+tuple2
#tuple3=nested
print(tuple3)

((0, 1, 2, 3), ('python', 'code'))

### Write a Python program to add an item in a tuple.

In [35]:
# Create a tuple & print
tuple1= (1,2,3,4)
print(tuple1)

#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple
tuple2=(5,6,7,8)

new_list = list(tuple1)+list(tuple2)

# Adding items in a specific index
new_list[5]=9
print(new_list)
tuple1 = tuple(new_list)
print(tuple1)

(1, 2, 3, 4)
[1, 2, 3, 4, 5, 9, 7, 8]
(1, 2, 3, 4, 5, 9, 7, 8)

### Write a Python program to remove an item from a tuple.

In [36]:
# Create a tuple and print it
tuple1= (1,2,3,4)
print(tuple1)
# Find a way to remove an item of the tuple (Hint: Use other data types)
myList=list(tuple1)
myList.remove(2)
tuple1=tuple(myList)
print(tuple1)

(1, 2, 3, 4)
(1, 3, 4)

### Python Program to Check if a given key already exists in a dictionary.

In [37]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
  # Your code goes here
  result ='Key does not exist'
  for key in d.keys():
    if (x==key):
      result='Key already exists'    
  return result # Your observation

In [38]:
is_key_present(5)

'Key already exists'

In [39]:
is_key_present(9)

'Key does not exist'

In [40]:
is_key_present(2)

'Key already exists'

### Write a Python script to merge two Python dictionaries.

In [41]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}

d1.update(d2)
print(d1)
print(d2)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}
{'x': 300, 'y': 200}

### Write a Python function to find the Max of three numbers.

In [42]:
def max_of_two( x, y ):
    a=max(x,y)
    return a # Your answer

def max_of_three( x, y, z ):
    # Your code here use max_of_two
    c= max(max_of_two( x, y ),z)
    return c# Your answer
print(max_of_three(-13, 26, 52))

52

### Write a Python program to reverse a string.

In [43]:
def string_reverse(str1):
    a=str1[::-1]
    return a # Your answer
print(string_reverse('INSAID'))

DIASNI

### Write a Python function to calculate the factorial of a number

In [44]:

def factorial(n):
  fact =1
  for i in range(1,n+1):
    fact = fact * i
  return fact # The answer
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 5
120

### Write a Python function to sum all the numbers in a list.

In [45]:
def sum(numbers):
  a=0
  for i in numbers:
     a=a+i
  return a # Your Answer
print(sum((8, 2, 3, 6, 7)))

26

### Write a Python function to check whether a number is in a given range.

In [46]:
def test_range(n):
   a='Number is not in range of 0 to 5';
   for i in range(0,6):
      if i==n:
        a='Number is in range of 0 to 5';
   return a # Your answer 
test_range(4)

'Number is in range of 0 to 5'

### Find the value of pi using math module.

In [47]:
# import statement example
# to import standard module math

import math
math.pi

3.141592653589793

### Write a Python program to read an entire text file.

### Content of text.txt.

### What is Python language?      

#### Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.

In [48]:
def file_read(fname):
    f=open(fname)
    print(f.read())
    return

file_read('test.txt')

My name is gayathri
I am in Hyderabad

### Write a Python program to read a file line by line and store it into a list.

In [49]:
def file_read(fname):   
   with open(fname) as f:
    lines = [line.rstrip() for line in f]  #rstrip strips the newline character
    print(lines)
   return

file_read('test.txt')

['My name is gayathri', 'I am in Hyderabad']

### Write a Python program to calculate the discriminant value. (b <sup>2</sup> - 4ac)

In [50]:
def discriminant():
    a_value = float(input('The a value: '))
    b_value = float(input('The b value: '))
    c_value = float(input('The c value: '))
    
    # Calculate the discriminant here
    d_value = (b_value*b_value) - (4* a_value * c_value)
    return d_value # The value


discriminant()

The a value: 1
The b value: 11
The c value: 111

-323.0

In [51]:
print('Hello World')

Hello World

In [52]:
print('What am I typing are you able to see?')

What am I typing are you able to see?